{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

{{ $author:= site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

<div class="container anchor p-lg-5 about-section" id="{{ $sectionID }}">
  <div class="row pt-sm-2 pt-md-4 align-self-center">
    <!-- summary -->
    <h3 class="p-1">{{ $.title }}</h3>
    
    <div>
    {{ range .summary }}
      <p class="p-1 text-justify">
        {{ .paragraph | markdownify }}
      </p>
    {{ end }}
    </div>
  </div>
</div>