.split-content {
    background-color: black;
    color: white;
}

.split-intro > h1 {
    color: orange;
    font-size: 18px;
}

.split-lists
{
    margin-top: 25px;
}

.split-lists .split-list h3
{
    color: #FFB700;
    font-weight: bold;
    opacity: 0.9;
}

.split-lists .split-list ul li a {
    color: white;
}

.split-lists .split-list ul li a:hover {
    color: orange;
}

.split-lists .split-list {
    width: 45%;
}

.split-bio h1,
.split-bio h2,
.accent
{
    color: orange;
}

.split-bio h2
{
    font-size: 16px;
    margin-bottom: 0px;
}

.split-bio details {
    margin-bottom: 8px;
    margin-left: 20px;
}

.split-bio details:first-of-type {
    margin-top: -18px;
}

.split-bio details summary {
    cursor: pointer;
    margin-bottom: 8px;
}

.split-bio details summary:hover {
    color: orange;
}

.split-bio .details-content {
    margin-left: 20px;
    margin-top: 8px;
}

a[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 0.85em;
    height: 0.85em;
    margin-left: 0.2em;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9 2L9 3L12.3 3L6 9.3L6.7 10L13 3.7L13 7L14 7L14 2L9 2z'/%3E%3Cpath d='M12 12L4 12L4 4L7 4L7 3L3 3L3 13L13 13L13 9L12 9L12 12z'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9 2L9 3L12.3 3L6 9.3L6.7 10L13 3.7L13 7L14 7L14 2L9 2z'/%3E%3Cpath d='M12 12L4 12L4 4L7 4L7 3L3 3L3 13L13 13L13 9L12 9L12 12z'/%3E%3C/svg%3E");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-color: currentColor;
    vertical-align: text-top;
}

.split-lists a[target="_blank"]::after {
    filter: brightness(1.2);
}

@media (max-width: 800px)
{
    .fs-split .split-image
    {
        height: 85vh;
    }

    .split-intro
    {
        text-align: center;
    }

    .split-intro > h1
    {
        font-size: 60%;
    }
    .split-intro > h2
    {
        font-size: 30%;
    }

    .split-lists
    {
        margin-top: 50px;
    }
}