.split-content {
    background-color: black;
}

.split-intro > h1 {
    color: orange;
    font-size: 18px;
}

.split-lists
{
    margin-top: 25px;
}

.split-lists .split-list h3
{
    color: orange;
    font-weight: bold;
}

.split-lists .split-list ul li a:hover {
    color: orange;
}

.split-bio h1,
.split-bio h2,
.accent
{
    color: orange;
}

.split-bio h2
{
    font-size: 16px;
    margin-bottom: 0px;
}

@media (max-width: 800px)
{
    .fs-split .split-image
    {
        height: 85vh;
    }

    .split-intro
    {
        text-align: center;
    }

    .split-intro > h1
    {
        font-size: 60%;
    }
    .split-intro > h2
    {
        font-size: 30%;
    }

    .split-lists
    {
        margin-top: 50px;
    }
}