<div class="staying-speed-system {{ .class }}">
  <div class="staying-speed-equation" aria-label="The Staying Speed equals The Right Effort plus Time">
    <span class="equation-speed" aria-hidden="true"><var>v</var><sub>s</sub></span>
    <i aria-hidden="true">=</i>
    <span aria-hidden="true"><var>E</var><sub>r</sub></span>
    <i aria-hidden="true">+</i>
    <span aria-hidden="true"><var>t</var></span>
  </div>
  <div class="staying-speed-key" aria-hidden="true">
    <span><b>v<sub>s</sub></b> The Staying Speed</span>
    <span><b>E<sub>r</sub></b> The Right Effort</span>
    <span><b>t</b> Time</span>
  </div>
</div>
